.row.category-header

.row
  .span7
    = image_tag(@entry.image_url.to_s, :class =>"img-polaroid")
    %p
      %b By:
      = @entry.name
  .span4
    .img-polaroid

      - if user_signed_in?
        %p
          %b IP:
          = @entry.ip
        %p
          %b Approved:
          = @entry.approved


    .img-polaroid.caption
      %p
        = @entry.caption

